<%- include('../partials/document',{title}) %>
<link rel="stylesheet" href="styles/admin.css">
</head>
<style>
    div{
        padding: 5%;
    }
    a{
        font-size: 18px;
        padding: 10px 0;
        display: inline-block;
    }
</style>
<body>

    <div>
        <h1>Page is Under Construction</h1>
        <a href="/login">Login</a>
    </div>

<%- include('../partials/end') %>